@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');
.auth-container {
	padding: 							80px 0;
    //background-image:                   url("../../images/login_cover.png");
    background-position:                top;
    background-size:                    cover;
    height:                             90vh;
}
.auth-card {
	font-family: 						'Nunito', sans-serif;
	border: 							2px solid #3E495F;
	border-radius: 						7px;
	background:                         rgba(0, 0, 0, 0.5);
    color:                              #ffffff;
}
.auth-card__header {
	padding: 							20px;
}
.auth-card__body {
	padding: 							0 25px 25px;
}
.auth-card__footer {
	padding: 							25px;
	border-radius: 						0 0 7px 7px;
	box-shadow: 						inset 0 5px 3px -5px rgba(0, 0, 0, 0.1);
	background-color: 					rgba(0, 0, 0, 0.1);
}
.auth-card__title {
	margin: 							0;
	text-align: 						center;
	font-size: 							1.5rem;
	font-weight: 						600;
}
.auth-card__label {
	margin-bottom: 						6px;
	font-size: 							0.85rem;
	font-weight: 						600;
}
.auth-card__input {
	height: 							35px;
	border-radius: 						4px;
}
.auth-card__btn {
	border-radius: 						4px;
}
.auth-card__btn--grey {
	background-color: 					#ffc107;
	border: 							1px solid #ffc107;
	border-bottom: 						1px solid #ffc107;
	box-shadow: 						inset 0 -2px 3px #d39e00;
	&:focus, &.focus {
		box-shadow: 					0 0 0 0.2rem rgba(217, 217, 217, 0.25);
	}
}
