@import 'variables';
@import 'cms';
@import '../common';

.bblue {
    background-color: #2A3140;
}
.navbar-dark,.bg-dark {

}

.footer-color {
    background-color: #3E495F;
}

body {
    background-color: #F5F5F5;
}

.btn {
  color: #fff;
}

.btn:hover {
  color: #CFCFCF;
}
